<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="biz.anzol.noisy" version="1.0.0">
  <name>noisy</name>
  <description>White, Pink and Brownian (aka Brown or Red) Noise Generator</description>
  <author email="thiagocondurufigueiredo@gmail.com">Thiago F</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="21"/>
  <preference name="android-installLocation" value="auto"/>
  <plugin name="nl.x-services.plugins.headsetdetection" source="pgb" spec="1.0" />
  <plugin name="cordova-admob" source="npm"/>
  <icon src="icon.png"/>
  <platform name="android" />
</widget>
